/* Empty. Add your own CSS if you like */
.center {
  text-align: center;
}
.col-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 5%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 5%;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    max-width: 5%;
}
.col-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 6%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 6%;
    -ms-flex: 0 0 6%;
    flex: 0 0 6%;
    max-width: 6%;
}
.col-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 7%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 7%;
    -ms-flex: 0 0 7%;
    flex: 0 0 7%;
    max-width: 7%;
}
.col-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 8%;
    -ms-flex: 0 0 8%;
    flex: 0 0 8%;
    max-width: 8%;
}
.col-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 9%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 9%;
    -ms-flex: 0 0 9%;
    flex: 0 0 9%;
    max-width: 9%;
}
