﻿<ui-view="vista2">
<ion-pane>
    <ion-header-bar class="bar-stable">
        <h1 class="title">PLANTILLA HOLA</h1>
    </ion-header-bar>
    <ion-content>
        <div class="row">
          <div class="col col-7 center" ng-repeat="(key,value) in pruebaFactory.registros[0]" ng-if="key != '__type' && key.indexOf('7') == -1 && key.indexOf('8') == -1 && key.indexOf('9') == -1 && key.indexOf('10') == -1  && key.indexOf('Nombre') == -1">{{key}}</div>
        </div>
        <div class="row" ng-repeat="fila in pruebaFactory.registros">
          <div class="col col-7 center" ng-repeat="(key,value) in fila" ng-if="key != '__type' && key.indexOf('7') == -1 && key.indexOf('8') == -1 && key.indexOf('9') == -1 && key.indexOf('10') == -1 && key.indexOf('Nombre') == -1">{{value}}</div>
        </div>
    </ion-content>
</ion-pane>
</ui-view>
